.card-frame{
    border: 5px solid black;
    width: 500px;
    height: 300px;
    padding: 10px;
}

.header{
    border: 1px solid black;
    height: 10%;
    font-size: 150%;
}

.body{
    display: flex;
    list-style: none;
    height: 80%;
    padding:0px;
}

.body>li{

    border: 1px dotted black;
    width: 50%;
}

img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.picture{
    align-items: center;
    display: flex;
}

.description{
    max-height: 100%;
    text-align: justify;
    padding: 10px;
    overflow: auto;
}